@import "@astryxdesign/core/reset.css";
@import "@astryxdesign/core/astryx.css";
@import "@astryxdesign/theme-neutral/theme.css";
@stylex;

html {
  min-height: 100%;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  background-color: var(--color-background-body);
}

body {
  min-height: 100dvh;
  overscroll-behavior-y: none;
  background-color: var(--color-background-body);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
